*{
    margin: 0;
    font-family: Archivo;
    overflow: hidden;
    user-select: none;
    
}
.hero{
    height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    
}
.nav{
    /*background: red;*/
    width: 96vw;
    height: 10vh;
    position: relative;
    top:0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.home{
    
}
.ctaNav{
    
}
.archivo {
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.archivo svg{
    position: absolute;
    
}
.word {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: rgba(0,0,0,0); /* capa a agujerear */
    display: flex;
    align-items: center;
    justify-content: center;
}

.word span {
    font-size: 380px;;
    font-weight: 900;
    color: white;
}


.relleno {
    position: absolute;
    height: 50vh;
    width: 100vw;;
    /*background: red;*/
    z-index: 0;
    color: white;
    word-break: break-all;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.copy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 95vw;
    color:white;
}
h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

p{
    width: 50vw;
    font-size: 1.2rem;
    font-weight: 400;
}
.cta{
    transform: rotate(30deg);
    left:20vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 15vw;
    width: 15vw;
    border-radius: 10000px;
    border: dashed 1vw;
    border-color: white;
    color: white;
    font-size: 3em;
    font-weight: 700;
    
}




.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: red;*/
    width: 35vw;
    bottom:10vh;
    right: 10vh;
    
}





.mask text {
  font-family: "Archivo", sans-serif;
  font-size: 280px;
  font-variation-settings: "wght" 900, "wdth" 100;
  transition: font-size 0.6s ease, font-variation-settings 0.6s ease;
    animation: ancho 3s infinite alternate linear;
}
@keyframes ancho{
  0%{}
  100%{
    font-size:200px;
    font-variation-settings:"wdth" 62, "wght" 100;
  }
}

@media (max-width: 600px) {
      .hero h1 {
        font-size: 32px;
          margin-bottom: 10px;
      }
    
    .copy{
        
        z-index: 3;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        
    }
    p{
        width: 96vw;
        font-size: 16px;
        
    }
    .cta{
        height: 8vh;
        width: 40vh;
        font-size: 16px;
        margin-bottom: 5vh;
        left: inherit;
        transform: rotate(0);
    }
    .container{
        bottom: 0;
        width: 100vw;
        right: inherit;
    }
    .archivo{
        margin-bottom: -10vh;
    }
    
}
.cajaText {
    height: auto;
    overflow: visible;
}
